[user]
	name = Kyehwan Lee
	email = kyehwanl@gmail.com
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = true
[alias]
    show-graph = log --graph --abbrev-commit --pretty=oneline
    lgodb = log --graph --oneline --decorate --branches
    l = log --graph --oneline --decorate
    ll= log --graph --oneline --decorate --branches
    lb= log --graph --oneline --decorate --branches
    la= log --graph --oneline --decorate --all
	st = status
	ci = commit
	co = checkout
	br = branch
    dw = diff -w -b
[core]
	excludesfile = /Users/kyehwan/.gitignore_global
